
html,body {
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;

}

:root {
    --content_width:80%;
    --leftSidebar_width:20%;
    --messager_width:80%;
}
  
.main_container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
  
  .left_sidebar {
    background-color: #212b36;
    flex: 1; /* Adjust the flex property */
    color: white;
  }
  
.content {
    display: flex;
    flex-direction: column;
    background-color: #13354F;
    flex: 4; /* Adjust the flex property */
}
  
.messages_box {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: 90%; /* Limit the height */
}



.top_header{
    height:10%;
    width:100%;
    background-color: #1a2557; 

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search_field {
    height:20px;
    width:282px;
    padding:10px;

    margin: 10px;
    
}




.profile_username {
    margin: 10px;
}

.left_sidebar_content {
    display: flex;
    flex-direction: column;
    margin:20px;

}

.btn_collection {
    background-color: rgba(0,0,0,0.1);
    border: none;
    color: white;


}




.chats  {
    padding: 0;
    
    list-style-type: none;
    display: flex;
    flex-direction: column;

}

.btn_collection  {
   margin: 10px;
}

.content_box {
    height:90%;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
}


.chat_name {
    justify-content: start;
    padding-left:60px;
}



.little_margin{
    margin-left:50px;
}

.enter_message{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width:var(--messager_width);
    
}

.enter_message input{
    width:100%;
    height:40px;
}
.enter_message input{
    font-size:32px;
}
.enter_message img {
    width:50px;
    height:50px;
}

.messages_box{
    display: block;
    margin-top: auto;
    width:var(--messager_width);
    
}

.message_pos_another{
    display: flex;
    justify-content: end
}

.message_another {
    background-color: rgb(0, 131, 253);
    width:300px;
    border-start-end-radius: 4px;
    border-end-end-radius: 4px;
    margin: 10px;
}
.message_our{
    background-color: rgb(201, 201, 201);
    width:300px;
    border-start-end-radius: 4px;
    border-end-end-radius: 4px;
    margin: 10px;
}



.message {
    padding-left:10px;
}

.message p,h3 {
    padding:0;
    margin:5px;
}